USE [master]
GO
/****** Object:  Database [Factory Managment DB]    Script Date: 12/01/2021 20:11:15 ******/
CREATE DATABASE [Factory Managment DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Factory Managment DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Factory Managment DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Factory Managment DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Factory Managment DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Factory Managment DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Factory Managment DB]
GO
/****** Object:  Table [dbo].[Department table]    Script Date: 12/01/2021 20:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department table](
	[ID] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Manager ID] [int] NOT NULL,
 CONSTRAINT [PK_Department table] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee Shift ID]    Script Date: 12/01/2021 20:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee Shift ID](
	[ID] [int] NOT NULL,
	[Employee ID] [int] NOT NULL,
	[Shift ID] [int] NOT NULL,
 CONSTRAINT [PK_Employee Shift ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee table]    Script Date: 12/01/2021 20:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee table](
	[ID] [int] NOT NULL,
	[First name] [varchar](50) NOT NULL,
	[Last name] [varchar](50) NOT NULL,
	[Start work year] [int] NOT NULL,
	[Department ID] [int] NOT NULL,
 CONSTRAINT [PK_Employee table] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shift table]    Script Date: 12/01/2021 20:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shift table](
	[ID] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[Start time] [int] NOT NULL,
	[End time] [int] NOT NULL,
 CONSTRAINT [PK_Shift table] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User table]    Script Date: 12/01/2021 20:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User table](
	[ID] [int] NOT NULL,
	[Full name] [varchar](50) NOT NULL,
	[User name] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Num of actions] [int] NOT NULL,
 CONSTRAINT [PK_User table] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Department table] ([ID], [Name], [Manager ID]) VALUES (1, N'General', 11)
INSERT [dbo].[Department table] ([ID], [Name], [Manager ID]) VALUES (2, N'Management', 15)
GO
INSERT [dbo].[Employee Shift ID] ([ID], [Employee ID], [Shift ID]) VALUES (1, 12, 20)
INSERT [dbo].[Employee Shift ID] ([ID], [Employee ID], [Shift ID]) VALUES (2, 12, 23)
INSERT [dbo].[Employee Shift ID] ([ID], [Employee ID], [Shift ID]) VALUES (3, 12, 26)
GO
INSERT [dbo].[Employee table] ([ID], [First name], [Last name], [Start work year], [Department ID]) VALUES (11, N'Avi', N'Cohen', 2000, 1)
INSERT [dbo].[Employee table] ([ID], [First name], [Last name], [Start work year], [Department ID]) VALUES (12, N'Dana', N'Cohen', 2001, 1)
INSERT [dbo].[Employee table] ([ID], [First name], [Last name], [Start work year], [Department ID]) VALUES (13, N'Yossi', N'Levi', 2000, 1)
GO
INSERT [dbo].[Shift table] ([ID], [Date], [Start time], [End time]) VALUES (20, CAST(N'2021-01-02T00:00:00.000' AS DateTime), 7, 15)
INSERT [dbo].[Shift table] ([ID], [Date], [Start time], [End time]) VALUES (21, CAST(N'2021-01-02T00:00:00.000' AS DateTime), 15, 23)
INSERT [dbo].[Shift table] ([ID], [Date], [Start time], [End time]) VALUES (22, CAST(N'2021-01-02T00:00:00.000' AS DateTime), 23, 7)
GO
INSERT [dbo].[User table] ([ID], [Full name], [User name], [Password], [Num of actions]) VALUES (1, N'Alex Ivlev', N'Alex1', N'Alex123', 20)
INSERT [dbo].[User table] ([ID], [Full name], [User name], [Password], [Num of actions]) VALUES (2, N'Almog Baku', N'Almog1', N'Almog123', 20)
INSERT [dbo].[User table] ([ID], [Full name], [User name], [Password], [Num of actions]) VALUES (3, N'Noa Buch', N'Noa1', N'Noa123', 20)
GO
USE [master]
GO
