
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
</head>
<body>
    <div>
        <h1> Welcome to Home Page!</h1>

        <h3>Employees </h3> <br />

        <h3>Departments </h3> <br />

        <h3>Shifts </h3> <br />
    </div>
</body>
</html>
