
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <h1> Welcome ! </h1>
        <h2> Please Log In</h2>
        <form action = "/Login/GetLoginData" method="post">
           User name:  <input type="text" name="username" /> <br/>
           Password:  <input type="password" name="password" /> <br/>

            <input type="submit" value="Login" /> 

        </form>
    </div>
</body>
</html>
